<div class="s1">
  <div class="images">
    <img src="/images/call of duty.png" alt="">
    <img src="/images/clash.png" alt="">
    <img src="/images/warzon.png" alt="">
  </div>
</div>
<div class="content1">
  <h1>درباره ما بیشتر بدانید</h1>
  <p class="p1">رزان جم - فروشگاه ارزان و معتبر خرید محصولات بازی های آنلاین موبایل</p>
  <p class="p2">خرید مستقیم و بدون واسطه در ارزان جم باعث افزایش سرعت خدمات رسانی به مشتریان شده است که ارزان جم را به
    انتخاب اول خریداران جم ، سی پی و یوسی بازی های آنلاین تبدیل کرده است. امنیت در خرید ؛ همانطور که می دانید هر
    فروشگاهی که بتواند امنیت کاربران را تامین نماید مورد توجه مشتریان قرار خواهد گرفت، چرا که مهم ترین عامل موثر در خرید
    آنلاین تامین امنیت می باشد. ارزان جم هفت روز هفته بدون تعطیلی و بدون وقفه در خدمت مشتریان محترم است. کارشناسان تیم
    ارزان جم از هیچ فرصتی برای ارائه خدمات بهتر به خریداران دریغ نخواهند کرد. اصل پاسخگویی؛ چه مجموعه ای می تواند
    خریداران را پس از خرید اول تبدیل به مشتریان وفادار نماید؟ هدف ما در ارزان جم همین است؛ هیچ چیز از رضایت شما مهم تر
    نیست. فروشگاه ارزان جم تاکید بسیاری به پاسخگویی کامل نسبت به مشتریان و حمایت کامل از خرید آن ها دارند. ارزان جم در
    سال 1400 شروع به کار کرد. ارزان جم تیم هایی را برای تسریع روند خرید درون برنامه ای و درون بازی اختصاص داده است که
    انواع بازی های آنلاین مانند: کالاف دیوتی موبایل ، فری فایر ، پابجی موبایل ، کلش آف کلنز و کلش رویال که مورد نظر شما
    هستند. ،</p>
</div>
<div class="content2">
  <h1>سوالات متداوم</h1>
  <div>
    <Button (click)="isli1 = !isli1" >چگونه به فروشگاه ارزان جم اعتماد کنیم؟</Button>
    @if (isli1) {
      <ul>
        <li>سایت ارزان جم دارای نماد اعتماد الکترونیکی و نشان ملی ثبت رسانه های دیجیتال می باشد که بستری امن و مطمئن برای
          خرید محصولات بازی های آنلاین موبایل می باشد . همچنین با سابقه چندین ساله در زمینه فروش محصولات درون برنامه ای ،
          به یکی از معتبرترین سایت های فروشگاهی این حوزه تبدیل شده است.</li>
      </ul>
    }
    <Button (click)="isli2= !isli2" >در ارزان جم چه محصولاتی ارائه می شود؟</Button>
    @if (isli2) {
      <ul>
        <li>در سایت ارزان جم محصولات درون برنامه ای بازی هایی همچون : سی پی کالاف دیوتی موبایل ، جم کلش آف کلنز ، جم کلش
          رویال و انواع گیفت کارت به فروش می رسد که با تضمین امنیت و قیمت و با تحویل سریع در حال خدمت رسانی به مشتریان
          عزیز می باشد.</li>
      </ul>
    }
  </div>
</div>
<div class="content3" >
  <h1>با ارزان جم سریع و مطمئن خرید کنید</h1>
  <p>خدمات نوین و شارژ سریع محصولات درون برنامه ای بازی های موبایل</p>
  <img src="/images/img-1.png" alt="">
</div>
